{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% block content %}
{% if google_sheet_list %}
    <div class="container">
        <div class="row">
            {% for module in google_sheet_list %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="CodeModule" value="{{ module.CodeModule }}">
                            <input type="hidden" name="sheetLink" value="{{ google_sheet_link }}">
                            <button type="submit" class="btn btn-link p-0 m-0">
                                <img src="{{ module.Image }}" class="card-img-top img-thumbnail" alt="{{ module.Libelle }}" style="width: 400px; height: 290px;">
                            </button>
                        </form>
                        <div class="card-body">
                            <h5 class="card-title">{{ module.Libelle }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>{%trans "Aucun module trouvé."%}</p>
{% endif %}
{% block content_sheet_form %}{% endblock content_sheet_form %}
{% endblock content %}


